lua/hello-world/hello-world.lua filter=git-crypt diff=git-crypt
lua/accumulate/accumulate.lua filter=git-crypt diff=git-crypt
lua/hamming/hamming.lua filter=git-crypt diff=git-crypt
lua/house/house.lua filter=git-crypt diff=git-crypt
go/clock/clock.go filter=git-crypt diff=git-crypt
go/hello-world/hello_world.go filter=git-crypt diff=git-crypt
go/leap/leap.go filter=git-crypt diff=git-crypt
